<div class="container">
  <div id="home" class="main-logo">
    <div class="row">
      <div class="col-lg-12 bg-light">
        <img src="../../assets/Asset_16.webp" alt="" style="width:100vw;  height: auto"
          class="img-responsive center-block d-block mx-auto" alt="Sample Image">
        <div id="logoText">
          <img class="logo_white" src="../../assets/logo_white.png" alt="logo">
          <!-- <p class="text-center" style="padding-left: 0px; color: #fff">Lorem ipsum dolor sit amet..</p> -->
        </div>
      </div>
    </div>
  </div>

  <!-- modern chinese -->
  <div class="container-modern">
    <div id="page">
      <div class="box">
        <p class="title_modern" id="#target_story">
          A taste of authentic chinese cuisine
        </p>
        <h2 style="color: #d3c664">MODERN CHINESE</h2>
        <div class="line"></div>
        <p class="text-box">
          Step into the world of Xia Fei Fei, an upscale Chinese restaurant that beckons with the finest flavours of
          Beijing, Sichuan, and Shanghainese cuisine. Nestled in the heart of Queen's Road Central, this modern eatery
          boasts a culinary team thats has perfected the art of Chinese cuisine, using only the freshest and most
          exquisite ingredients to create a collection of signature dishes. With an elegant and comfortable setting, Xia
          Fei Fei invites guests to sit back and savour the flavours of China.
        </p>
      </div>
    </div>

    <div class="grid border-0 rounded-0">
      <div class="grid-item one "><img src="../../assets/Asset_2.webp"
          class="border border-0 rounded-0 img-thumbnail one1" alt="...">
        <div id="image_description"></div>
      </div>
      <div class="grid-item two border border-0 rounded-0"><img src="../../assets/Asset_4.webp"
          class="border border-0 rounded-0 img-thumbnail two2" alt="...">
        <div id="image_description"></div>
      </div>
      <div class="grid-item three"><img src="../../assets/Asset_5.webp"
          class="border border-0 rounded-0 img-thumbnail three3" alt="...">
        <div id="image_description"></div>
      </div>
      <div class="grid-item four"><img src="../../assets/Asset_6.webp"
          class="border border-0 rounded-0 img-thumbnail four4" alt="...">
        <div id="image_description"></div>
      </div>

      <div class="grid-item five"><img src="../../assets/Asset_7.webp"
          class="border border-0 rounded-0 img-thumbnail five5" alt="...">
        <div id="image_description"></div>
      </div>
      <div class="grid-item six"><img src="../../assets/Asset_8.webp"
          class="border border-0 rounded-0 img-thumbnail six6" alt="...">
        <div id="image_description"></div>
      </div>
      <div class="grid-item seven"><img src="../../assets/Asset_9.webp"
          class="border border-0 rounded-0 img-thumbnail seven7" alt="...">
        <div id="image_description"></div>
      </div>
      <div class="grid-item eight"><img src="../../assets/Asset_10.webp"
          class="border border-0 rounded-0 img-thumbnail eight8" alt="...">
        <div id="image_description"></div>
      </div>
    </div>
  </div>

  <!-- ***********Authentic Cuisine ************-->
  <div class="fluid-container ">
    <div class="row no-gutters" style="margin: auto;">
      <div class="col-md">
        <div class="menu-image  align-items-start">
          <img src="../../assets/Asset_11.webp" class="img-fluid" alt="menu image">
        </div>
      </div>

      <div class="col-md align-items-end" id="cusine">
        <div class="menu-text flex-grow-1 px-5 py-5">
          <h2 class="main-title text-left">Authentic Cuisine</h2>
          <div class="line_cuisine"></div>
          <div class="menu-content justify-content-center">
            <p style="color:#fff">We bring the bold and spicy flavours of Sichuan,<br>
              the sweet and savoury dishes of Shanghai, <br>
              and the diverse culinary heritage of <br>
              Beijing to your table.
            </p>
          </div>
          <a href="/food-menu" target="_blank" class="button_menu">Menu</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md align-items-end" id="cusine">
    <div class="menu-text flex-grow-1 px-5 py-5">
      <h2 class="main-title text-left">Authentic Cuisine</h2>
      <div class="line_cuisine"></div>
      <div class="menu-content justify-content-center">
        <p style="color: #fff">
          We bring the bold and spicy flavours of Sichuan,<br />
          the sweet and savoury dishes of Shanghai, <br />
          and the diverse culinary heritage of <br />
          Beijing to your table.

        </p>
      </div>
      <a href="/food-menu" class="button_menu">Menu</a>
    </div>
  </div> -->
</div>

<section class="reservation" style="position: relative">
  <div class="container-reservation wrapper">
    <div class="row row-cols-2 boxes4 justify-content-center g-0">
      <div id="booking" class="col-12 col-md-6 col-sm-12 menuBox menuBox1 justify-content-center">
        <div class="text_menu">
          <h1 class="our_menuTitle">OUR MENU</h1>
          <p>Discover our selection of menus, <br>
            catering to all your dining preferences. <br>
            Enjoy our set lunch and dinner options, <br>
            or explore our versatile a la carte menu. <br>
            Don't forget to sample our chef's<br>
            recommended dishes, showcasing<br>
            the best of our authentic Chinese cuisine.
          </p>
          <!-- <a href="https://bit.ly/XFFORLD " target="_blank" class="button_dining">Reservations</a>    -->
          <a href="tel:+85225227611" target="_blank" class="button_dining">Reservations</a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-12 menuBox menuBox2">
        <img src="../../assets/Asset_12.webp" alt="" />
      </div>
    </div>
    <div class="row row-cols-2 g-0">
      <div class="col-12 col-md-6 col-sm-12 menuBox menuBox3">
        <img src="../../assets/Asset_13.webp" alt="" />
      </div>

      <div id="contact" class="col-12 col-md-6 col-sm-12 menuBox menuBox4 justify-content-center">
        <div class="text_menu">
          <h1 class="privateTitle">
            PRIVATE<br />
            DINING ROOMS
          </h1>
          <p>
            Indulge in a luxurious dining experience<br />
            at our private dining rooms that host up<br />
            to 12 - 36 people, perfect for intimate<br />
            gatherings and special occasions.
          </p>
          <a href="mailto:parties@epicureran.com.hk" target="_blank" class="button_dining">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="location">
  <div class="container-address">
    <div class="row">
      <div class="col-md-8"><img src="../../assets/XFF_map-3.jpg" width="100%" height="450" style="border:0;"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="padding-left: 20px;">
      </div>
      <div class="col-6 col-md-4 bottomBox">
        <div class="address">
          <h6>address</h6>
          <p>Shop 211, 2/F, Melbourne Plaza<br>
            33 Queen's Road<br>
            Central</p>
        </div>
        <br>
        <div class="openning">
          <h6>opening hours</h6>
          <p>Monday - Sunday<br>
            Lunch: 11:30 am - 3:30pm<br>
            Dinner: 6 pm - 10pm</p>
        </div>
        <br>
        <div class="contact">
          <h6>Contact</h6>
          <p>2522 7611<br>
            info@xiafeifei.hk</p>
        </div>
      </div>
    </div>
  </div>
</section>