<div class="container-food">
  <div class="title">
    <h2>Menu</h2>

    <div class="row gx-5 d-flex justify-content-evenly">
      <a
        class="card"
        href="../../assets/menu/Set Lunch/XFF-21672_Bespoke Lunch Set Menus_v4.pdf"
        target="_blank"
      >
        <!-- <a href="#" class="card" onclick='window.open("https://drive.google.com/file/d/1vT5wNs19nenqNkLbMR1Hn_RsyUm5Qhw7/view");return false;' > -->
        <h6>set lunch</h6>
      </a>

      <a class="card" href="#" target="_blank">
        <h6>set dinner</h6>
      </a>

      <a
        class="card"
        href="../../assets/menu/A La Carte/XFF-21810_ALC update_V2_FA.pdf"
        target="_blank"
      >
        <h6>à la carte</h6>
      </a>

      <a
        class="card"
        href="../../assets/menu/Seasonal Chef Recommendation/XFF-21803_XFF Seasonal Chef Recommendations Menu_V5.pdf"
        target="_blank"
      >
        <h6>seasonal chef recommendation</h6>
      </a>

      <a
        class="card"
        href="../../assets/menu/Takeaway/XFF-21811_XFF Takeaway Menu Reprint.pdf"
        target="_blank"
      >
        <h6>take away</h6>
      </a>
    </div>
  </div>
</div>
